
<h1 class="page-header">About Us</h1>

<div class="panel">
  <div class="panel-heading">
    <h1 class="panel-title">Mark Easterly</h1>
  </div>
  <div class="panel-body">
    I'm a junior at Oakland University. My hobbies consist of gaming, basketball, and programming.
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <h1 class="panel-title">Mitchell Roe</h1>
  </div>
  <div class="panel-body">
    On the ten-year-undergrad track, Mitchell is a super-senior in Information
    Technology and is a free software enthusiast. He works on campus for OUWB's
    Medical Library as a system administrator and web developer.
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <h1 class="panel-title">Calvin Reilly</h1>
  </div>
  <div class="panel-body">
    Student by day, culinary wizard by night; he is renowned for his ability to create boxed mac and cheese as well as some very tasty nachos.
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <h1 class="panel-title">Jake Wierszewski</h1>
  </div>
  <div class="panel-body">
    Senior at Oakland University. Hobbies: Running, Tennis, Hiking.
  </div>
</div>
