<h1>About</h1>
<br>

<div class="panel panel-default">
  <div class="panel-heading">Mark Easterly</div>
  <div class="panel-body">
    Create Buttons here for "Bio" or member information
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Mitchell Roe</div>
  <div class="panel-body">
    Create Buttons here for "Bio" or member information
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Calvin Reilly</div>
  <div class="panel-body">
    Create Buttons here for "Bio" or member information
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Jake Wierszewski</div>
  <div class="panel-body">
    Create Buttons here for "Bio" or member information
  </div>
</div>
