<a class="btn btn-default pull-right" ng-href="#/boards/{{boardId}}/createpost" ng-show="user">Create new post</a>
<div>
  <div id="board-header">
    <div class="page-header">
      <h1><span class="glyphicon glyphicon-list-alt"></span> {{board.title}}</h1>
      <h4><span class="glyphicon glyphicon-user"></span> {{board.user.firstName}} {{board.user.lastName}}</h4>
    </div>

  </div>

  <div id="op">
    <ul class="list-group">
      <li class="list-group-item">
        <p>{{board.content}}</p>
      </li>
    </ul>
  </div>

  <div id="replies">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="post in board.posts">
        <h4><span class="glyphicon glyphicon-user"></span> {{post.user.firstName}} {{post.user.lastName}}</h4>
        <p>{{post.content}}</p>
      </li>
    </ul>
  </div>
</div>
