<h1 class="page-header">Create Board</h1>

<div class="container">
  <form name="createBoardForm" ng-init="board = { owner = user }">
    <div class="form-group">
      <label class="control-label">Title</label>
      <input class="form-control" type="text" ng-model="board.title">
    </div>
    <div class="form-group">
      <textarea class="form-control" rows="8" ng-model="board.content"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary pull-right" type="submit">Create</button>
    </div>
  </form>
</div>

