<div ng-controller="HeaderCtrl">
  <div class="header">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header col-md-2">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/index">GrizzBoard</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li ng-repeat="link in links" ng-class="{active: $index==selected}"
                ng-show="{{link.cond}}" ng-click="select($index)">
              <a ng-href="{{link.url}}">{{link.name}}</a>
            </li>
            <li ng-show="user">
              <a href ng-click="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div ng-include src=" 'views/sidebar.html' "></div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="slide-animate-container">
          <div class="slide" ng-view="">
          </div>
        </div>
      </div>
    </div>
  </div>
    <!--
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header" style="width: 25%;">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a ng-show="logo == true" class="navbar-brand" href="#/">
            <img class="img-responsive" src="images/logo.png" style="margin-top: -15px;">
          </a>
        </div>

        <div class="collapse navbar-collapse pull-right" id="js-navbar-collapse">

          <ul class="nav navbar-nav">
            <li ng-repeat="link in links" ng-class="{active: $index==selected}"
                ng-show="{{link.cond}}" ng-click="select($index)">
              <a ng-href="{{link.url}}">{{link.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  -->
</div>
