<h1 class="page-header">Signup</h1>

<div class="container">
  <form name="registerForm" ng-init="user = {}" ng-submit="register()">
    <div class="form-group" ng-model="err.firstName" ng-class="{true: 'has-error'}[err.firstName && !registerForm.firstName.$dirty]">
      <label class="control-label">First Name</label>
      <input name="firstName" class="form-control" type="text" ng-model="user.firstName">
      <span class="help-block" ng-show="[err.firstName]">{{err.firstName}}</span>
    </div>
    <div class="form-group" ng-model="err.lastName" ng-class="{true: 'has-error'}[err.lastName  && !registerForm.lastName.$dirty]">
      <label class="control-label">Last Name</label>
      <input name="lastName" class="form-control" type="text" ng-model="user.lastName">
      <span class="help-block" ng-show="[err.lastName]">{{err.lastName}}</span>
    </div>
    <div class="form-group" ng-model="err.email" ng-class="{true: 'has-error'}[err.email  && !registerForm.email.$dirty]">
      <label class="control-label">Email</label>
      <input name="email" class="form-control" type="text" ng-model="user.email">
      <span class="help-block" ng-show="[err.email]">{{err.email}}</span>
    </div>
    <div class="form-group" ng-model="err.password" ng-class="{true: 'has-error'}[err.password  && !registerForm.password.$dirty]">
      <label class="control-label">Password</label>
      <input name="password" class="form-control" type="password" ng-model="user.password">
      <span class="help-block" ng-show="[err.password]">{{err.password}}</span>
    </div>
    <div class="form-group" ng-model="err.confirmPassword" ng-class="{true: 'has-error'}[err.confirmPassword  && !registerForm.confirmPassword.$dirty]">
      <label class="control-label">Confirm Password</label>
      <input name="confirmPassword" class="form-control" type="password" ng-model="user.confirmPassword">
      <span class="help-block" ng-show="[err.confirmPassword]">{{err.confirmPassword}}</span>
    </div>
    <div style="width: 100%;">
      <button class="btn btn-primary pull-right" type="submit">
        Create Account
      </button>
    </div>
  </form>
</div>
